@font-face
{
	font-family: Quicksand;
	src: url('../assets/fonts/Quicksand/Quicksand-Regular.ttf');
}

html, body
{
	color: #000000;
	background: #ffffff;
	font-size: 16px;
	font-family: Quicksand, Helvetica, sans-serif;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

a
{
	color: #3393bd;
	text-decoration: none;
}

img
{
	display: block;
}

div.header
{
	overflow: auto;
}

div.title
{
	padding: 6px 10px;
	overflow: auto;
}

div.title div.title_left
{
	float: left;
}

div.title img.logo_image
{
	height: 40px;
	float: left;
}

div.title div.logo_text
{
	font-size: 16px;
	font-weight: bold;
	color: #000000;
	padding: 10px;
	float: left;
}

div.title div.title_right
{
	float: right;
}

div.title_right a
{
	padding: 11px 5px;
	display: block;
	float: left;
}

div.title_right img
{
	width: 18px;
	height: 18px;
}

div.toolbar
{
	background: #f5f5f5;
}

div.intro
{
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: 2px dashed #cccccc;
	display: none;
	overflow: auto;
}

div.intro img.intro_logo
{
	display: inline;
	height: 140px;
	max-width: 80%;
}

div.intro div.intro_section
{
	font-size: 21px;
	margin: 50px 0px;
}

div.intro div.intro_big_text
{
	font-size: 30px;
	line-height: 50px;
}

div.main
{

}

div.main_menu
{
	width: 240px;
	margin: 10px 0px 10px 10px;
	overflow: none;
	float: left;
}

div.main_viewer
{
	float: left;
}

div.main_viewer canvas
{
	margin: 10px;
	border: 1px solid #dddddd;
	outline: none;
	display: block;
}

div.embed_viewer
{

}

div.embed_viewer img.embed_logo
{
	height: 40px;
	position: absolute;
	right: 10px;
	bottom: 10px;
}

div.ov_tooltip
{
	color: #000000;
	background: #ffffff;
	border: 1px solid #dddddd;
	padding: 5px 10px;
	border-radius: 5px;
	position: absolute;
	box-shadow: 0px 0px 3px #cccccc;
}

div.ov_toolbar
{
	overflow: auto;
	user-select: none;
}

div.ov_toolbar div.ov_toolbar_button_div
{
	padding: 10px;
	float: left;
	cursor: pointer;
}

div.ov_toolbar div.ov_toolbar_button_div.selected
{
	background: #e1e1e1;
}

div.ov_toolbar img.ov_toolbar_button
{
	width: 18px;
	height: 18px;
}

div.ov_toolbar div.ov_toolbar_separator
{
	background: #cccccc;
	width: 1px;
	height: 28px;
	margin: 5px 8px;
	float: left;
}

div.ov_menu_tree_title
{
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #dddddd;
}

div.ov_menu_tree_panel
{
	overflow: auto;
	margin-bottom: 10px;
}

div.ov_menu_info_panel
{
	overflow: auto;
	border-top: 1px solid #dddddd;
}

div.ov_menu_info_panel div.ov_info_panel_main
{
	margin-top: 5px;
}

div.ov_menu_info_panel div.ov_info_panel_content
{
	padding: 5px 0px 0px 5px;
}

div.ov_menu_info_panel div.ov_info_box
{
	margin-bottom: 10px;
	overflow: auto;
}

div.ov_menu_info_panel div.ov_info_box_column
{
	float: left;
}

div.ov_menu_info_panel div.ov_info_box_title
{
	margin-bottom: 3px;
}

div.ov_menu_info_panel div.ov_info_box_content
{
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.ov_menu_info_panel div.ov_info_box_content_big
{
	font-size: 21px;
	font-weight: bold;
}

div.ov_menu_info_panel div.ov_info_box_details
{
	font-size: 14px;
	padding-left: 10px;
}

div.ov_menu_info_panel div.ov_info_box_row
{
	padding: 2px 0px;
	overflow: auto;
}

div.ov_menu_info_panel div.ov_info_box_row_name
{
	width: 40%;
	float: left;
}

div.ov_menu_info_panel div.ov_info_box_row_value
{
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}

div.ov_menu_info_panel div.ov_info_box_rgbbox
{
	width : 32px;
	height: 16px;
	margin-right: 10px;
	border: 1px solid #222222;
	border-radius: 5px;
	float: left;
}

div.ov_menu_info_panel div.ov_info_box_rgbtext
{
	font-size: 14px;
}

div.ov_menu_info_panel div.ov_info_box_button
{
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	overflow: auto;
}

div.ov_menu_info_panel div.ov_info_box_button_text
{
	padding: 5px;
	float: left;
}

div.ov_menu_info_panel img.ov_info_box_button_icon
{
	width: 18px;
	height: 18px;
	padding: 6px;
	float: right;
}

div.ov_tree_menu
{
	user-select: none;
}

div.ov_tree_menu div.ov_tree_menu_item
{
	overflow: auto;
	border-radius: 5px;
	padding-right: 5px;
}

div.ov_tree_menu div.ov_tree_menu_item.selected
{
	background: #eeeeee;
	font-weight: bold;;
}

div.ov_tree_menu div.ov_tree_menu_item.clickable
{
	cursor: pointer;
	border-radius: 5px;
}

div.ov_tree_menu div.ov_tree_menu_item_button_container
{
	float: right;
}

div.ov_tree_menu img.ov_tree_menu_item_button
{
	width: 18px;
	height: 18px;
	padding: 5px;
	float: left;
	cursor: pointer;
}

div.ov_tree_menu img.ov_tree_menu_item_icon
{
	width: 18px;
	height: 18px;
	padding: 5px;
	float: left;
}

div.ov_tree_menu div.ov_tree_menu_item_name
{
	padding: 4px 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

div.ov_tree_menu div.ov_tree_menu_children
{
	margin-left: 28px;
}

div.ov_modal_overlay
{

}

div.ov_dialog
{
	background: #ffffff;
	width: 400px;
	padding: 20px;
	box-shadow: 0px 0px 10px #cccccc;
	border-radius: 5px;
}

div.ov_dialog div.ov_dialog_title
{
	font-size: 19px;
	font-weight: bold;
}

div.ov_dialog div.ov_dialog_inner_title
{
	font-weight: bold;
	margin-bottom: 10px;
}

div.ov_dialog div.ov_dialog_content
{
	padding: 20px 0px;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_section
{
	margin: 10px 0px;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_buttons
{
	overflow: auto;
}

div.ov_dialog div.ov_dialog_buttons_inner
{
	float: right;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_button
{
	color: #ffffff;
	background: #3393bd;
	text-align: center;
	margin-left: 10px;
	padding: 3px;
	width: 80px;
	border: 1px solid #3393bd;
	border-radius: 5px;
	cursor: pointer;
	float: left;
}

div.ov_dialog div.ov_dialog_button.outline
{
	color: #3393bd;
	background: transparent;
}

div.ov_dialog div.ov_dialog_message
{

}

div.ov_dialog div.ov_dialog_submessage
{
	margin-top: 10px;
	font-size: 14px;
}

div.ov_dialog textarea.ov_dialog_textarea
{
	margin: 10px 0px;
	width: 100%;
	height: 120px;
	border: 1px solid #cccccc;
	outline: none;
	box-sizing: border-box;
}

div.ov_dialog div.ov_dialog_select
{
	margin: 20px 0px;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_select_option
{
	color: #3393bd;
	text-align: center;
	padding: 3px;
	margin-right: 5px;
	border: 1px solid #3393bd;
	border-radius: 5px;
	cursor: pointer;
	float: left;
}

div.ov_dialog div.ov_dialog_select_option.selected
{
	color: #ffffff;
	background: #3393bd;
}

div.ov_dialog input.ov_dialog_color
{
	width: 36px;
	height: 18px;
	margin-right: 10px;
}

div.ov_dialog div.ov_dialog_file_list
{
	max-height: 105px;
	overflow: auto;
}

div.ov_dialog a.ov_dialog_file_link
{
	padding: 5px;
	display: block;
	overflow: auto;
	border-radius: 5px;
}

div.ov_dialog img.ov_dialog_file_link_icon
{
	width: 18px;
	height: 18px;
	margin-right: 10px;
	float: left;
}

div.ov_dialog div.ov_dialog_file_link_text
{
	float: left;
}

div.ov_dialog div.ov_dialog_copyable_input
{
	padding: 3px;
	border: 1px solid #dddddd;
	border-radius: 5px;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_copyable_input input
{
	color: #666666;
	width: 70%;
	margin-top: 6px;
	box-sizing: border-box;
	outline: none;
	float: left;
	border: 0px;
	box-sizing: border-box;
}

div.ov_dialog div.ov_dialog_copyable_input div.button
{
	color: #3393bd;
	width: 28%;
	text-align: center;
	padding: 3px;
	border: 1px solid #3393bd;
	border-radius: 5px;
	box-sizing: border-box;
	cursor: pointer;
	float: right;
}

div.ov_dialog div.ov_dialog_inner_buttons
{
	margin-bottom: 10px;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_inner_button
{
	color: #3393bd;
	float: right;
	cursor: pointer;
}

div.ov_dialog div.ov_dialog_table_row
{
	padding: 2px 0px;
	overflow: auto;
}

div.ov_dialog div.ov_dialog_table_row_name
{
	width: 120px;
	float: left;
}

div.ov_dialog div.ov_dialog_table_row_value
{
	float: left;
}

div.ov_dialog span.ov_dialog_table_row_comment
{
	color: #444444;
	font-size: 15px;
}

div.ov_dialog input.ov_dialog_checkradio
{
	margin-right: 10px;
}

div.ov_dialog table.ov_dialog_table
{
	width: 100%;
	border-collapse: collapse;
}

div.ov_dialog table.ov_dialog_table td
{
	padding: 5px 10px;
	border: 1px solid #dddddd;
}

div.ov_dialog table.ov_dialog_table td.right
{
	text-align: right;
}

div.ov_popup
{
	background: #ffffff;
	width: 200px;
	padding: 10px;
	box-shadow: 0px 0px 10px #cccccc;
	border-radius: 5px;
}

div.ov_popup div.ov_popup_title
{
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
}

div.ov_popup div.ov_popup_text
{
	margin-bottom: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

div.ov_popup div.ov_popup_list
{
	max-height: 200px;
	overflow: auto;
}

div.ov_popup div.ov_popup_list_item
{
	padding: 10px;
	border-radius: 5px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}

div.ov_popup div.ov_popup_list_item_rgbbox
{
	width: 18px;
	height: 18px;
	margin-right: 5px;
	border: 1px solid #222222;
	float: left;
}

div.ov_popup div.ov_popup_list_item_name
{

}

div.ov_progress
{
	background: #ffffff;
	text-align: center;
	width: 400px;
	padding: 20px;
	box-shadow: 0px 0px 10px #cccccc;
	border-radius: 5px;
}

div.ov_progress img.ov_progress_img
{
	height: 80px;
	margin-bottom: 10px;
	display: inline;
}

div.ov_progress div.ov_progress_text
{
	font-size: 19px;
	text-align: center;
}

div.ov_thin_scrollbar
{
	scrollbar-color: #cccccc transparent;
	scrollbar-width: thin;
}

div.ov_thin_scrollbar::-webkit-scrollbar
{
	width: 3px;
	height: 3px;
}

div.ov_thin_scrollbar::-webkit-scrollbar-thumb
{
	background: #cccccc;
}

@media (hover)
{

a:hover
{
	text-decoration: underline;
}

div.ov_toolbar div.ov_toolbar_button_div:hover
{
	background: #c9e5f8;
}

div.ov_tree_menu div.ov_tree_menu_item.clickable:hover
{
	background: #e4f4ff;
}

div.ov_menu_info_panel div.ov_menu_info_panel_title:hover
{
	background: #e4f4ff;
}

div.ov_dialog a.ov_dialog_file_link:hover
{
	background: #e4f4ff;
}

div.ov_popup div.ov_popup_list_item:hover
{
	background: #e4f4ff;
}

div.ov_menu_info_panel div.ov_info_box_button:hover
{
	background: #e4f4ff;
}

}

@media only screen and (max-width: 700px)
{

.only_full_width
{
	display: none;
}

div.intro div.intro_section
{
	font-size: 16px;
	line-height: 20px;
}

div.intro div.intro_big_text
{
	font-size: 18px;
	line-height: 30px;
}

div.main_viewer canvas
{
	border: 0px;
	margin: 0px;
}

div.ov_dialog
{
	max-width: 80%;
}

div.ov_progress
{
	max-width: 80%;
}

}

@media only screen and (max-height: 700px)
{

.only_full_height
{
	display: none;
}

div.intro div.intro_section
{
	margin: 15px 0px;
}

}
