/* General Styles */
.ov_dialog_form_container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: auto;
    overflow-y: auto;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .ov_dialog_title {
        color: #fff; /* Light text for dark backgrounds */
    }
}

.ov_button, .ov_next_button, .ov_submit_button {
    padding: 10px 15px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

.ov_button:hover, .ov_next_button:hover, .ov_submit_button:hover {
    background-color: #0056b3;
}

/* Layout Containers */
.ov_content_container,
.ov_content_wrapper,
.ov_form_section {
    display: flex;
    flex-direction: column;
}


.ov_preview_container {
    flex: 1; /* Gives the container a flexible size */
    max-width: 500px; /* Ensures that the container does not exceed the canvas width */
    overflow: hidden; /* Hides any overflowing content */
    padding-right: 30px;
    padding-left: 30px;
    margin-left: 50px;
    padding-top: 15px;
}

.ov_preview1_container {
    flex: 2; /* Allocates twice as much space compared to the other two */
    height: auto; /* Adjust based on content */
}

.ov_preview2_container {
    width: 231px; /* Set the width explicitly if not already set */
    height: 254px; /* Set the height explicitly if not already set */
    display: flex; /* Ensures contents are flex-aligned */
    justify-content: center; /* Centers the canvas horizontally */
    align-items: center; /* Centers the canvas vertically */
    overflow: hidden; /* Hides any overflow, ensuring nothing spills out */
}

.ov_preview3_container {
    width: 231px; /* Set the width explicitly if not already set */
    height: 254px; /* Set the height explicitly if not already set */
    display: flex; /* Ensures contents are flex-aligned */
    justify-content: center; /* Centers the canvas horizontally */
    align-items: center; /* Centers the canvas vertically */
    overflow: hidden; /* Hides any overflow, ensuring nothing spills out */
}

/* Ensure the container does not grow or shrink unexpectedly */
.ov_preview2_container, .ov_preview3_container {
    flex: none; /* Does not allow flex-grow or flex-shrink */
    margin: 5px; /* Optional: adds some space around the containers */
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
}


.ov_preview_row {
    display: flex;          /* Enables flexbox */
    flex-direction: row;    /* Align children horizontally */
    flex-wrap: nowrap;      /* Prevents wrapping of items */
    justify-content: center;/* Horizontally centers the content within the container */
    align-items: center;    /* Vertically centers the items in the container */
    width: 100%;            /* Ensures the container takes full width available */
    height: auto;           /* Adjust height automatically based on content */
}

.ov_preview_container, .ov_preview1_container, .ov_preview2_container, .ov_preview3_container {
    border: 2px solid #ccc; /* Light grey border */
    border-radius: 8px; /* Softly rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

.ov_snapshot_preview_image, .ov_snapshot_preview_canvas {
    border-radius: 8px; /* Consistent rounded corners */
}

/* Ensure all preview images within containers have the same styling */
.ov_preview_container img, .ov_preview1_container img, .ov_preview2_container img, .ov_preview3_container img {
    border-radius: 6px; /* Slightly less rounded than container for a layered effect */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Very light shadow for the images themselves */
}

/* Responsive Styles */
@media (min-width: 769px) {
    .ov_content_wrapper {
        flex-direction: row;
    }

    .ov_preview_container {
        width: 33%;
    }

    .ov_form_section {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .ov_dialog_form_container {
        flex-direction: column;
        width: 100%;
        max-width: 100%;
        height: 100vh;
        max-height: 100vh;
        padding: 10px;
        box-sizing: border-box;
    }

    .ov_content_wrapper {
        flex-direction: column;
    }

    .ov_preview_container {
        order: 1; /* Moves the preview above the form */
    }

    .ov_form_section {
        order: 2; /* Keeps the form below the preview */
    }

    .ov_preview2_container,
    .ov_preview3_container {
        width: 50%;
        aspect-ratio: 1 / 1;
    }
}

/* Additional Styles */
.ov_input_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.ov_dialog_input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.ov_dialog_label {
    font-size: 1em;
    margin-right: 10px;
    color: #333;
    flex: 0 0 150px; /* Adjust the width as needed */
}

.ov_dialog_title {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.ov_dialog_description, .ov_get_patient_email_intro, .ov_get_send_emails_intro {
    font-size: 1em;
    margin-bottom: 20px;
    color: #666;
}

.ov_snapshot_preview_image {
    width: 100%; /* Makes the canvas width responsive to the container size */
    height: auto; /* Maintains the aspect ratio */
}

.ov_snapshot_preview_canvas {
    border: 1px solid #ccc;
    max-width: 100%;
    height: auto;
    border-radius: 4px;

}

.download-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.download-icon svg {
    width: 100%;
    height: 100%;
}

/* You can add or modify additional styles here as needed */
