div.ov_color_circle
{
	background: #ffffff;
	border: 1px solid #000000;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 8px;
	margin-bottom: -2px;
	border-radius: 10px;
}

div.header
{
	overflow: auto;
	display: none;
}

div.title
{
	padding: 6px 10px;
	overflow: auto;
}

div.title div.title_left
{
	float: left;
}

div.title svg.logo_image
{
	width: 60px;
	height: 40px;
	float: left;
}

div.title div.logo_text
{
	color: var(--ov_foreground_color);
	font-size: 18px;
	font-weight: bold;
	padding: 9px;
	float: left;
}

div.title div.title_right
{
	float: right;
}

div.title_right a
{
	color: var(--ov_foreground_color);
	padding: 11px 5px;
	display: block;
	float: left;
	text-decoration: none;
}

div.toolbar
{
	background: var(--ov_toolbar_background_color);
}

div.intro
{
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: 2px dashed var(--ov_border_color);
	overflow: auto;
	display: none;
}

div.intro_content
{
	width: 500px;
	max-width: 90%;
	margin: 0px auto;
	position: relative;
}

div.intro div.intro_logo
{
	border-bottom: 1px solid var(--ov_border_color);
	padding-bottom: 30px;
	margin-bottom: 30px;
}

div.intro svg.intro_logo
{
	width: 381px;
	height: 80px;
	max-width: 90%;
	margin-bottom: 20px;
}

div.intro div.intro_dragdrop_text
{
	font-size: 30px;
}

div.intro div.intro_formats_title
{
	font-size: 25px;
	margin-bottom: 15px;
}

div.intro div.intro_file_formats
{
	margin: 0px auto;
}

div.intro div.intro_file_formats a
{
	color: var(--ov_outline_button_text_color);
	text-decoration: none;
	font-size: 17px;
	width: 50px;
	border-radius: 5px;
	padding: 4px 8px;
	margin: 6px 4px;
	border: 1px solid var(--ov_outline_button_color);
	display: inline-block;
	cursor: pointer;
}

div.intro div.intro_file_formats a:hover
{
	background: var(--ov_outline_button_hover_color);
}

div.noembed
{
	text-align: center;
	padding: 10px;
}

div.noembed a
{
	padding: 10px 0px;
	display: block;
}

div.main
{
	overflow: hidden;
	display: none;
}

div.main_file_name
{
	margin: 10px auto;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.main_left_container
{
	float: left;
	overflow: auto;
}

div.main_navigator
{
	width: 280px;
	margin: 10px 0px 10px 0px;
	overflow: none;
	float: left;
}

div.main_splitter
{
	width: 10px;
	overflow: none;
	float: left;
	cursor: w-resize;
}

div.main_viewer
{
	float: left;
	position: relative;
}

div.main_right_container
{
	float: left;
	overflow: auto;
}

div.main_sidebar
{
	width: 280px;
	margin: 10px 0px 10px 0px;
	overflow: none;
	float: left;
}

div.main_viewer canvas
{
	margin: 10px 0px 10px 0px;
	border: 1px solid var(--ov_border_color);
	outline: none;
	display: block;
}

div.ov_toolbar
{
	overflow: auto;
	user-select: none;
}

div.ov_toolbar div.ov_toolbar_button
{
	float: left;
	cursor: pointer;
	padding: 10px;
}

div.ov_toolbar div.ov_toolbar_button.align_right
{
	float: right;
}

div.ov_toolbar div.ov_toolbar_button.selected
{
	background: var(--ov_toolbar_selected_color);
}

div.ov_toolbar div.ov_toolbar_separator
{
	background: var(--ov_toolbar_separator_color);
	width: 1px;
	height: 28px;
	margin: 5px 8px;
	float: left;
}

div.pcr-app
{
	color: var(--ov_dialog_foreground_color);
	background: var(--ov_dialog_background_color);
}

div.pcr-app input.pcr-result
{
	color: var(--ov_foreground_color) !important;
	background: var(--ov_background_color) !important;
}

div.ov_property_table
{
	overflow: auto;
}

div.ov_property_table_custom
{
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px solid var(--ov_border_color);
}

div.ov_property_table div.ov_property_table_row
{
	overflow: auto;
}

div.ov_property_table div.ov_property_table_row.group
{
	padding: 4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}

div.ov_property_table div.ov_property_table_row.ingroup
{
	margin-left: 15px;
}

div.ov_property_table div.ov_property_table_cell
{
	padding: 4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

div.ov_property_table div.ov_property_table_name
{
	width: 49%;
	padding-right: 2%;
	float: left;
}

div.ov_property_table div.ov_property_table_value
{
	width: 49%;
	text-align: left;
	float: left;
}

div.ov_property_table div.ov_property_table_button
{
	color: var(--ov_button_color);
	cursor: pointer;
}

div.ov_bottom_floating_panel {
    background: var(--ov_background_color);
    border-top: 1px solid var(--ov_border_color);
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    position: fixed; /* Change from absolute to fixed */
    bottom: 0px;
    left: 0px;
    z-index: 1000; /* Add a high z-index */
}

div.ov_bottom_floating_panel div.ov_floating_panel_text
{
	padding: 3px;
	margin-bottom: 10px;
	float: left;
}

div.ov_bottom_floating_panel div.ov_floating_panel_button
{
	width: 120px;
	float: right;
}

div.ov_measure_panel
{
	padding: 6px 15px;
	position: absolute;
	border-radius: 30px;
	left : 0px;
	top : 0px;
}

div.ov_measure_panel div.ov_svg_icon
{
	color: inherit;
	margin-bottom: 2px;
}

div.ov_measure_panel div.ov_measure_value
{
	float: left;
	margin-right: 10px;
}

@media (hover)
{

	div.title_right div.header_button:hover
	{
		color: var(--ov_button_color);
	}

	div.ov_toolbar div.ov_toolbar_button:hover
	{
		background: var(--ov_hover_color);
	}

	}

	@media (max-width: 350px), (max-height: 620px)
	{

		div.intro_content
		{
			margin: 0px auto;
		}

		div.intro div.intro_logo
		{
			display: none;
		}

		.toggle-container {
			width: 150px;

		}
		.toggle-option {
			font-size: 12px;
		}

	}

	@media (max-width: 800px)
	{

	div.intro_content
	{
		width: auto;
	}

	div.main_viewer canvas
	{
		border: 0px;
		margin: 0px;
	}

	div.ov_dialog
	{
		max-width: 80%;
	}

	div.ov_progress
	{
		max-width: 80%;
	}

	div.ov_bottom_floating_panel
	{
		padding: 10px;
	}
}

div.close-button {
    align-self: flex-end;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

div.tool-content {
    margin-top: 10px;
    text-align: left;
    width: 100%;
}

.highlight-button {
    width: 60px;
    height: 60px;
    background-color: #fff1e1;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	border: 2px solid #f2b46c
}

div.highlight-button.active {
    background-color: #ffcc00;
    border: 2px solid #ff9900;
}

div.highlight-button img {
    width: 50%;
    height: 50%;
}

div.highlight-container {
    position: absolute; /* Change from absolute to fixed */
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    z-index: 1001; /* Higher than the cookie consent */
	transition: bottom 0.3s ease-out;
}

.icon-share {
    font-size: 60px;
}

div.share-button {
    position: absolute;
    top: -30px;
    right: -20px;
    width: 25px;
    height: 25px;
	background-color: #26a69a; /* Light semi-transparent background */
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
	padding: 8px; /* Padding around the icon */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

div.share-button img {
    width: 20px;
    height: 20px;
}

.toggle-container {
    display: inline-flex; /* Change to inline-flex */
    align-items: center;
    justify-content: space-between;
    /* width: 80px; Reduced width */
    height: 24px; /* Reduced height to match icons */
    background-color: #e0e0e0;
    border-radius: 12px; /* Adjusted for new height */
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: background-color 0.3s;
    margin-left: 3px; /* Add some space from other icons */
    vertical-align: middle; /* Align vertically */
	margin: 0;
}

div.toolbar-button .toggle-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 80px; /* Match toolbar button width */
    height: 30px; /* Match toolbar button height */
    padding: 0;
    margin: 0;
	border: 2px solid #cccccc;
	border-radius: 15px;
    background-color: #f3f3f3; /* Example to make it visually distinct, if needed */
}

.toggle-option {
    flex: 1;
    text-align: center;
    z-index: 1;
    color: #868685d6;
    transition: color 0.3s;
    font-size: 10px; /* Smaller font size */
    line-height: 24px; /* Match new height */
}

.toggle-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #8fd9e8;
    border-radius: 12px; /* Match container */
    transition: transform 0.3s;
}

.toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 24px; /* Match icon size */
    height: 24px;
    margin: 0 4px; /* Add some spacing between buttons */
}

/* Toggle Active States */
.toggle-container.active {
    background-color: #f5f5dc; /* Beige background when active */
}

.toggle-container.active .toggle-slider {
    transform: translateX(60px); /* Slide to the right */
    background-color: #26a69a; /* Teal color when active */
}

/* Slider Position Based on Data Attribute */
.toggle-container[data-state="male"] .toggle-slider {
    transform: translateX(0); /* Stay on the left for 'Male' */
}

.toggle-container[data-state="female"] .toggle-slider {
    transform: translateX(40px);  /* Adjusted for right shift for 'Female' */
}

/* Text Color Change on Active State */
.toggle-container[data-state="male"] .toggle-option:first-child,
.toggle-container[data-state="female"] .toggle-option:last-child {
    color: #1c1c1b; /* Beige text color when active */
}


@media (prefers-color-scheme: dark) {

	.logo_image {
		filter: drop-shadow(0 0 2px #FFF)
	}

	div.share-button {
		background-color: #26a69a;
		color: #fff;
	}

    .toggle-container {
        background-color: #4F4F4F; /* Dark background for container */
    }
    .toggle-option {
        color: #1c1c1b; /* Light grey text in dark mode */
    }
    .toggle-slider {
        background-color: #26a69a; /* Teal slider in dark mode */
    }
    .toggle-container.active .toggle-slider {
        background-color: #8fd9e8; /* Light blue when active in dark mode */
    }
    .toggle-container[data-state="male"] .toggle-option:first-child,
    .toggle-container[data-state="female"] .toggle-option:last-child {
        color: #1c1c1b; /* Beige text when active in dark mode */
    }
}
