html, body
{
	color: #000000;
	background: #ffffff;
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	scroll-behavior: smooth
}

a
{
	color: #3393bd;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

i.icon
{
	font-size: 16px;
	margin: 0px 2px;
	display: inline-block;
	position: relative;
	bottom: -4px;
}

h1
{
	font-size: 27px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px 0px;
	border-bottom: 1px solid #cccccc;
}

h1 a
{
	color: inherit;
}

h1 a:hover
{
	text-decoration: none;
}

h2
{
	font-size: 25px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px 0px;
	border-bottom: 1px solid #cccccc;
}

h3
{
	font-size: 21px;
	font-weight: normal;
	margin-top: 30px;
	margin-bottom: 20px;
}

p
{
	text-align: justify;
	margin: 10px 0px;
	line-height: 25px;
}

p.info
{
	background: #e4f4ff;
	padding: 10px;
	border-left: 3px solid #3393bd;
}

ol, ul
{
	padding: 0px 0px 0px 25px;
}

li
{
	text-align: justify;
	line-height: 25px;
	margin: 10px 0px;
}

table
{
	border-collapse: collapse;
}

table td, th
{
	padding: 10px;
	border: 1px solid #dddddd;
}

table th
{
	background: #fafafa;
}

table td.center
{
	text-align: center;
}

table td.green
{
	color: #21c23c;
	font-weight: bold;
}

table td.red
{
	color: #bf233d;
	font-weight: bold;
}

div.main
{
	width: 920px;
	margin: 30px auto;
}

div.code
{
	background: #f0f0f0;
	font-family: monospace;
	font-size: 14px;
	margin: 10px 0px;
	padding : 5px;
	overflow: auto;
	white-space: nowrap;
}

h3.question
{
	cursor: pointer;
	margin-top: 15px;
	margin-bottom: 20px;
}

div.answer
{
	display: none;
	margin-bottom: 30px;
}

@media only screen and (max-width: 1000px)
{

div.main
{
	width: auto;
	margin: 0px 20px;
}

}
