@font-face {
    font-family: "O3DVIcons";
    src: url("O3DVIcons/O3DVIcons.woff?70370968d2ff22490319cfdbac7bfa4a") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: O3DVIcons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-arrow_down:before {
    content: "\f101";
}
.icon-arrow_right:before {
    content: "\f102";
}
.icon-arrow_up:before {
    content: "\f103";
}
.icon-close:before {
    content: "\f104";
}
.icon-collapse:before {
    content: "\f105";
}
.icon-deisolate:before {
    content: "\f106";
}
.icon-details:before {
    content: "\f107";
}
.icon-donate:before {
    content: "\f108";
}
.icon-expand:before {
    content: "\f109";
}
.icon-export:before {
    content: "\f10a";
}
.icon-feedback:before {
    content: "\f10b";
}
.icon-file_download:before {
    content: "\f10c";
}
.icon-files:before {
    content: "\f10d";
}
.icon-fit:before {
    content: "\f10e";
}
.icon-fix_up_off:before {
    content: "\f10f";
}
.icon-fix_up_on:before {
    content: "\f110";
}
.icon-flat_list:before {
    content: "\f111";
}
.icon-flip:before {
    content: "\f112";
}
.icon-github:before {
    content: "\f113";
}
.icon-hidden:before {
    content: "\f114";
}
.icon-info:before {
    content: "\f115";
}
.icon-isolate:before {
    content: "\f116";
}
.icon-materials:before {
    content: "\f117";
}
.icon-measure:before {
    content: "\f118";
}
.icon-meshes:before {
    content: "\f119";
}
.icon-missing_files:before {
    content: "\f11a";
}
.icon-model:before {
    content: "\f11b";
}
.icon-open_url:before {
    content: "\f11c";
}
.icon-open:before {
    content: "\f11d";
}
.icon-settings:before {
    content: "\f11e";
}
.icon-share:before {
    content: "\f11f";
}
.icon-tree_mesh:before {
    content: "\f120";
}
.icon-tree_view:before {
    content: "\f121";
}
.icon-twitter:before {
    content: "\f122";
}
.icon-up_y:before {
    content: "\f123";
}
.icon-up_z:before {
    content: "\f124";
}
.icon-visible:before {
    content: "\f125";
}
.icon-warning:before {
    content: "\f126";
}
