
div.ov_sidebar_title
{
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--ov_border_color);
	overflow: hidden;
}

div.ov_sidebar_title div.ov_sidebar_title_text
{
	float: left;
}

div.ov_sidebar_title div.ov_sidebar_title_img
{
	color: var(--ov_light_icon_color);
	float: right;
	cursor: pointer;
}

div.ov_sidebar_subtitle
{
	overflow: hidden;
}

div.ov_sidebar_subtitle div.ov_sidebar_subtitle_toggle
{
	margin-right: 10px;
	margin-top: 3px;
	float: left;
}

div.ov_sidebar_subtitle div.ov_sidebar_subtitle_icon
{
	width: 30px;
	height: 18px;
	margin-top: 2px;
	margin-right: 10px;
	float: left;
}

div.ov_sidebar_subtitle div.ov_sidebar_subtitle_text
{
	float: left;
}

div.ov_sidebar_content
{
	overflow: auto;
}

div.ov_sidebar_section
{
	margin: 10px 0px;
	overflow: auto;
}

div.ov_sidebar_content div.ov_sidebar_settings_content
{
	margin-bottom: 20px;
	overflow: auto;
}

div.ov_sidebar_content div.ov_sidebar_settings_sections
{
	margin-bottom: 10px;
	overflow: auto;
}

div.ov_sidebar_content div.ov_sidebar_settings_row
{
	margin: 5px 0px;
	overflow: auto;
}

div.ov_sidebar_content div.ov_sidebar_settings_row input.ov_slider
{
	width: 80%;
}

div.ov_sidebar_content div.ov_sidebar_settings_row.large
{
	height: 25px;
}

div.ov_sidebar_content div.ov_sidebar_settings_padded
{
	margin: 10px 0px 0px 40px;
	overflow: hidden;
}

div.ov_sidebar_content div.ov_sidebar_measure_name
{
	font-weight: bold;
	margin-bottom: 5px;
}

div.ov_sidebar_content div.ov_sidebar_measure_value
{
	margin-bottom: 10px;
}

div.ov_sidebar_content button.pcr-button
{
	width: 30px;
	height: 15px;
	margin: 3px 10px 3px 0px;
	border: 1px solid var(--ov_border_color);
	box-shadow: none;
	outline: none;
	float: left;
}
