div.ov_color_circle
{
	background: #ffffff;
	border: 1px solid #000000;
	width: 14px;
	height: 14px;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: -2px;
	border-radius: 10px;
}

div.header
{
	overflow: auto;
}

div.title
{
	padding: 6px 10px;
	overflow: auto;
}

div.title div.title_left
{
	float: left;
}

div.title img.logo_image
{
	height: 40px;
	float: left;
}

div.title div.logo_text
{
	font-size: 16px;
	font-weight: bold;
	padding: 10px;
	float: left;
}

div.title div.title_right
{
	float: right;
}

div.title_right a
{
	padding: 11px 5px;
	display: block;
	float: left;
	text-decoration: none;
}

div.toolbar
{
	background: var(--ov_toolbar_background_color);
}

div.intro
{
	margin: 10px;
	padding: 10px;
	text-align: center;
	border: 2px dashed var(--ov_border_color);
	display: none;
	overflow: auto;
}

div.intro img.intro_logo
{
	display: inline;
	height: 140px;
	max-width: 80%;
}

div.intro div.intro_section
{
	font-size: 21px;
	margin: 50px 0px;
}

div.intro div.intro_big_text
{
	font-size: 30px;
	line-height: 50px;
}

div.main
{
	overflow: auto;
}

div.main_navigator
{
	width: 240px;
	margin: 10px 0px 10px 10px;
	overflow: none;
	float: left;
}

div.main_viewer
{
	float: left;
}

div.main_sidebar
{
	width: 300px;
	margin: 10px 10px 10px 0px;
	overflow: none;
	float: right;
}

div.main_viewer canvas
{
	margin: 10px;
	border: 1px solid var(--ov_light_border_color);
	outline: none;
	display: block;
}

div.ov_toolbar
{
	overflow: auto;
	user-select: none;
}

div.ov_toolbar div.ov_toolbar_button
{
	padding: 10px;
	float: left;
	cursor: pointer;
}

div.ov_toolbar div.ov_toolbar_button.right
{
	float: right;
}

div.ov_toolbar div.ov_toolbar_button.selected
{
	background: var(--ov_toolbar_selected_background_color);
}

div.ov_toolbar div.ov_toolbar_separator
{
	background: #cccccc;
	width: 1px;
	height: 28px;
	margin: 5px 8px;
	float: left;
}

div.ov_navigator_tree_title
{
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--ov_light_border_color);
}

div.ov_navigator_tree_panel
{
	overflow: auto;
	margin-bottom: 10px;
}

div.ov_navigator_info_panel
{
	overflow: auto;
	border-top: 1px solid var(--ov_light_border_color);
}

div.ov_navigator_info_panel div.ov_navigator_info_button
{
	cursor: pointer;
	margin-top: 10px;
	border: 1px solid var(--ov_light_border_color);
	border-radius: 5px;
	overflow: auto;
}

div.ov_navigator_info_panel div.ov_navigator_info_button_text
{
	padding: 5px;
	float: left;
}

div.ov_navigator_info_panel div.ov_navigator_info_button_icon
{
	color: var(--ov_light_icon_color);
	padding: 6px;
	float: right;
}

div.ov_sidebar_title
{
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid var(--ov_light_border_color);
}

div.ov_sidebar_title div.ov_sidebar_title_text
{
	float: left;
}

div.ov_sidebar_title div.ov_sidebar_title_img
{
	color: var(--ov_light_icon_color);
	float: right;
	cursor: pointer;
}

div.ov_sidebar_subtitle
{
	overflow: auto;
}

div.ov_sidebar_content
{
	overflow: auto;
}

div.ov_sidebar_content div.ov_sidebar_settings_content
{
	margin-bottom: 20px;
	overflow: auto;
}

div.ov_sidebar_content div.ov_sidebar_settings_description
{
	color: var(--ov_light_icon_color);
	margin: 10px 0px 0px 40px;
	float: left;
}

div.ov_sidebar_content div.ov_sidebar_settings_warning
{
	margin-left: 30px;
}

div.ov_sidebar_content button.pcr-button
{
	width: 30px;
	height: 15px;
	margin: 3px 10px 3px 0px;
	border: 1px solid var(--ov_border_color);
	box-shadow: none;
	outline: none;
	float: left;
}

div.ov_property_table
{
	overflow: auto;
}

div.ov_property_table_custom
{
	margin-top: 8px;
	padding-top: 8px;
	border-top: 1px solid var(--ov_light_border_color);
}

div.ov_property_table div.ov_property_table_row
{
	overflow: auto;
}

div.ov_property_table div.ov_property_table_row.group
{
	padding: 4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;	
}

div.ov_property_table div.ov_property_table_row.ingroup
{
	margin-left: 15px;
}

div.ov_property_table div.ov_property_table_cell
{
	padding: 4px 0px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	box-sizing: border-box;
}

div.ov_property_table div.ov_property_table_name
{
	width: 49%;
	padding-right: 2%;
	float: left;
}

div.ov_property_table div.ov_property_table_value
{
	width: 49%;
	text-align: left;
	float: left;
}

div.ov_property_table div.ov_property_table_button
{
	color: var(--ov_primary_color);
	cursor: pointer;
}

@media (hover)
{

div.title_right div.header_button:hover
{
	color: var(--ov_primary_color);
}

div.ov_toolbar div.ov_toolbar_button:hover
{
	background: #c9e5f8;
}

div.ov_navigator_info_panel div.ov_navigator_info_panel_title:hover
{
	background: var(--ov_secondary_hover_color);
}

div.ov_navigator_info_panel div.ov_navigator_info_button:hover
{
	background: var(--ov_secondary_hover_color);
}

}

@media only screen and (max-width: 700px)
{

div.intro div.intro_section
{
	font-size: 16px;
	line-height: 20px;
}

div.intro div.intro_big_text
{
	font-size: 18px;
	line-height: 30px;
}

div.main_viewer canvas
{
	border: 0px;
	margin: 0px;
}

div.ov_dialog
{
	max-width: 80%;
}

div.ov_progress
{
	max-width: 80%;
}

}

@media only screen and (max-height: 700px)
{

div.intro div.intro_section
{
	margin: 15px 0px;
}

}
