div.dialog
{
	color : #222222;
	background : #ffffff;
	position : absolute;
	top : 0px;
	left : 0px;
	box-shadow: 0px 0px 5px #000000;
}

div.dialogtitle
{
	color : #ffffff;
	background : linear-gradient(#333333, #111111) #222222;
	padding : 10px;
	overflow : auto;
}

div.dialogcontent
{
	padding : 10px;
	overflow : auto;
}

div.dialogbuttons
{
	overflow : auto;
}

div.dialogbutton
{
	color : #ffffff;
	background : linear-gradient(#333333, #111111) #222222;
	margin : 5px 5px 5px 0px;
	padding : 5px 10px;
	cursor : pointer;
	border-radius : 3px;
	float : right;
}
